<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>jardineria</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row align-center cabezera">
      <ul class="menu">
        <li><a href="index2.html">Quiénes Somos</a></a></li>
        <li><a href="index.html"><img src="img/logo.png" alt=""/></a></li>
        <li><a href="index3.html">Formulario</a></li>
      </ul>
  </div>
  <div class="row align-center">
    <h4 class="titulo">Contacta Con Nosotros</h4>
  </div>
  <form>
    <div class="row align-center">
      <div class="medium-6 columns">
        <label><h5 class="subtitulo">Nombre</h5>
          <input type="text" placeholder="Name">
        </label>
      </div>
    </div>
    <div class="row align-center">
      <div class="medium-6 columns">
        <label><h5 class="subtitulo">Email</h5>
          <input type="email" placeholder="Exemple@gmail.com">
        </label>
      </div>
    </div>
    <div class="row align-center">
      <div class="medium-6 columns">
        <label><h5 class="subtitulo">Mensaje</h5>
          <textarea name="message" rows="" cols="">
          </textarea>
        </label>
      </div>
    </div>
    <div class="row text-center">
      <div class="columns">
        <button class="success button" type="submit" name="button">Enviar</button>
        <button type="reset" class="alert button">Borrar</button>
      </div>
    </div>
</form>
  <div class="row align-bottom align-justify footer">
           <div class="small-6 columns">
               <p class="letra">&copy;2016 Floristería Ana, by Jonnathan Rocha Velarde</p>
           </div>
           <div class="column small-6 align-self-top">
             <p class="footer-color letra ">
               <i class="fa fa-twitter"></i>
               <i class="fa fa-instagram"></i>
               <i class="fa fa-facebook-square"></i>
             </p>
           </div>
    </div>

  <script src="js/bundle.js"></script>
</body>
</html>
